.slider {
  display: flex;

  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  > * {
    flex: 1 0 100%;
  }

  &_slide {
    padding: min(6vw, 2.5rem);
  }

  &.rating-finish {
    transform: translateX(-100%);
  }
}

.rating {
  &_img {
    display: inline-block;
    padding: 1rem;
    border-radius: 50%;

    background-color: $Dark-Blue-400;
  }
}

.grades {
  --justify: space-between;

  > * {
    width: 45px;
    height: 45px;
    padding-top: 5px;
    border-radius: 50%;
    border: none;

    color: $Medium-Grey;

    background-color: $Dark-Blue-400;
  }
}
